.bpg_nino_mtavruli_normal {
	font-family: 'bpg_nino_mtavruli_normal';
}

.bpg_nino_mtavruli_bold {
	font-family: 'bpg_nino_mtavruli_bold';
}

#header {
	background-color: #AF0909;
}

.fixed {
    width: 100%;
    position: fixed;        
    background: #AF0909;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

img {
	width: 100%;
}

#logo{
	width: 14%;
	margin-left: 90px;
}

#flex li {
	font-size: 18px;
	color: white;
	margin-left: 50px;
	text-align: center;
	justify-content: space-between;
}

#header li:hover {
	color: black;
}

#header li.menu-active {
	color: black;
}

#flex {
	display: flex;
    flex-wrap: wrap;
    margin-left: 740px;
    margin-top: 55px;
}

#mainphoto {
	width: 1545px;
	height: 790px;
}

#about-section {
	background-color: black;
	padding: 100px 12%;
}

#about-section h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
}

#about-section input {
	background-color: white;
	font-size: 20px;
	color: black;
	padding: 20px 30px;
	border: none;
	margin-left: 440px;
	margin-top: 40px;
	cursor: pointer;
	font-family: 'bpg_nino_mtavruli_bold' ;
}

#flex-3 h3 {
	color: #AF0909;
	font-size: 28px;
	font-style: italic;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 70px;
	margin-left: 12px;
}

#flex-3 h4 {
	color: #AF0909;
	font-size: 28px;
	font-family: 'bpg_nino_mtavruli_bold';
	font-style: italic;
	margin-top: 70px;
	margin-left: 135px;
}

#container h3 {
	color: #AF0909;;
	font-size: 35px;
	font-family: 'bpg_nino_mtavruli_bold' ;
	margin-top: 70px;
	margin-left: 610px; 
}

#photo {
	width: 20%;
	margin-left: 300px;
	margin-top: 50px;
}

#flex3 h3 {
	color: #AF0909;
	font-size: 29px;
	font-style: italic;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 70px;
	margin-left: 15px;
}

#flex3 h4 {
	color: #AF0909;
	font-size: 29px;
	font-family: 'bpg_nino_mtavruli_bold';
	font-style: italic;
	margin-top: 70px;
	margin-left: 295px;
}

#flex4 p{
	color: black;
	font-size: 18px;
	line-height: 23px;
	font-family: 'bpg_nino_mtavruli_normal';
	margin-top: 50px;
	margin-left: 15px;
	width: 70%;
}

#container2 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 100px;
	margin-top: 45px;
	cursor: pointer;
}

#container3 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 750px;
	margin-top: 25px;
	margin-bottom: 50px;
	cursor: pointer;
}

#about-section3 h3 {
	color: #AF0909;
	font-size: 35px;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 20px;
	text-align: center;
}

#about-section3 h4 {
	color: black;
	font-family: 'bpg_nino_mtavruli_bold';
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

#about-section3 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 17PX;
	margin-left: 20PX;
	margin-top: 20px;
}

#about-section3 input {
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom: 20px;
	padding-left: 600px;
	padding-top: 10px;
}

#form input {
	font-size: 15px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: white;
	background-color: black;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

#photo1 {
	width: 100%;	
}

#text2 h3 {
	color: #AF0909;
	font-size: 35px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 70px;
}

#text img {
	width: 50%;
	margin-right: 30px;
	margin-top: 35px;
}

#text p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
	margin-left: 30px;
	margin-top: 170px;
	line-height: 23px;
}

#text3 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 32px;
	margin-left: 170px;
	margin-top: 60px;
}

#main P {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 150px;
}

#main img {
	width: 35%;
	margin-right: 30px;
	margin-top: 40px;
}

#text4 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 32px;
	margin-left: 170px;
	margin-top: 60px;
}

#main2 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 150px;
}

#main2 img {
	width: 35%;
	margin-right: 30px;
	margin-top: 50px;
}

#text5 h3 {
	font-size: 30px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	text-align: center;
	margin-top: 60px;
}

#text5 h4 {
	font-size: 22px;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	text-align: center;
	margin-top: 20px;
}

#text5 p {
	font-size: 22px;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	line-height: 23px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 50px;
}

#contact-container div {
	background-color: black;
	color: #fff;
	padding: 60px 12%;
	text-align: center;
}

#contact-container h3 {
	color: white;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	font-size: 30px;
	text-align: center;
	margin-top: 150px;
	letter-spacing: 2px;
}

#container4 p {
	color: black;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 40px;
}

#contact-container p {
	color: white;
	font-size: 22px;
	font-family: 'bpg_nino_mtavruli_bold';
	text-align: center;
	margin-top: 20px;
}

#contact p {
	font-size: 25px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	letter-spacing: 1px;
	line-height: 26px;
	margin-bottom: 	20px;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 40px;
	text-align: center;
}

#contact h3 {
	font-size: 20px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	letter-spacing: 1px;
	line-height: 26px;
	margin-left: 30px;
	margin-top: 15px;
}

.color {
	background-color: #000000;
}

#logo2 {
	width: 14%;
	height: 14%;
	margin-right: 90px;
	margin-top: 20px;
	margin-left: 770px;
}

#footer-flex h3 {
	font-size: 39px;
	color: #AF0909;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer-flex h6 {
	font-size: 18px;
	margin-bottom: 22px;
	color: white;
	margin-left: 100px;
}

#footer-flex2 p {
	font-size: 18px;
	color: white;
	margin-top: 4px;
	margin-bottom: 14px;
	margin-left: 100px;
}

#footer-flex2 a {
	width: 20px;
	margin-left: 11px;
	margin-top: 4px;
}

#about-section-2 {
	background-color: #AF0909;
	padding: 25px 46%;
}

#about-section-2 h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-left: -320px;
	margin-top: 10px;
	width: 710px;
}

#about-section-2 input {
	background-color: white;
	font-size: 20px;
	color: black;
	padding: 20px 30px;
	border: none;
	margin-left: -150px;
	margin-top: 40px;
	cursor: pointer;
	font-family: 'bpg_nino_mtavruli_bold' ;
}

#title h2{
	font-size: 25px;
	font-weight: bold;
	color: #AF0909;
	margin-top: 25px;
	margin-left: 120px;
	width: 1px;
}

#title p {
	font-size: 25px;
	color: black;
	margin-left: 300px;
	margin-top: 60px;
	
}

#title h3 {
	font-size: 25px;
	color: #AF0909;
	margin-left: 590px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 0px;
}

#form-color {
	background-color: gainsboro;
	width: 45%;
    margin: auto;
}

#formtag {
	margin-left: 50px;
}

#formtag p {
	font-size: 19px;
	color: black;
	line-height: 1.3;
}

#text1 h2{
	font-size: 30px;
	font-weight: bold;
	color: #AF0909;
	margin-left: 670px;
	margin-bottom: 35px;
	margin-top: 60px;

}

#text1 p {
	font-size: 20px;
	color: black;
	margin-left: 565px;
}




@media only screen and (min-width: 320px){

#logo {
	width: 12%;
	margin-left: 40px;
}

#flex li {
	font-size: 27px;
	color: white;
	margin-left: 45px;
	text-align: center;
	justify-content: space-between;
}

#header li:hover {
	color: black;
}

#header li.menu-active {
	color: black;
}

#flex {
	display: flex;
    flex-wrap: wrap;
    margin-left: 400px;
    margin-top: 50px;
}

#mainphoto {
	width: 1130px;
	height: 600px;
}

#container h3 {
	color: #AF0909;;
	font-size: 37px;
	width: 115%;
	font-family: 'bpg_nino_mtavruli_bold' ;
	margin-top: 50px;
	margin-left: 370px; 
}

hr {
	width: 350%;
}

#photo {
	width: 70%;
	margin-left: 145px;
	margin-top: 35px;
}

#flex3 h3 {
	color: #AF0909;
	font-size: 32px;
	width: 340px;
	font-style: italic;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 70px;
	margin-left: 20px;
}

#flex3 h4 {
	color: #AF0909;
	font-size: 32px;
	font-family: 'bpg_nino_mtavruli_bold';
	font-style: italic;
	margin-top: 70px;
	margin-left: 195px;
}

#flex4 p{
	color: black;
	font-size: 22px;
	line-height: 23px;
	font-family: 'bpg_nino_mtavruli_normal';
	margin-top: 65px;
	margin-left: 20px;
	width: 100%;
}

#about-section {
	background-color: black;
	padding: 25px 176%;
}

#about-section h3 {
	font-size: 36px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
	width: 705px;
	margin-left: -332px;
	margin-top: 10px;
}

#about-section input {
	background-color: white;
	font-size: 24px;
	color: black;
	padding: 20px 30px;
	border: none;
	margin-left: -150px;
	margin-top: 40px;
	cursor: pointer;
	font-family: 'bpg_nino_mtavruli_bold' ;
}

#about-section2 {
	background-color: white;
	padding: 40px 50%;
}

#about-section2 img {
	width: 45px;
	margin-left: 90px;
}

#about-section2 h3 {
	font-size: 30px;
	width: 340px;
	margin-left: -65px;
	color: black;
	margin-top: 30px;
	text-align: center;
	font-family:'bpg_nino_mtavruli_normal' ;
}

#about-section3 h3 {
	color: #AF0909;
	font-size: 36px;
	width: 1126px;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 25px;
	text-align: center;
}

#about-section3 h4 {
	color: black;
	font-family: 'bpg_nino_mtavruli_bold';
	font-size: 25px;
	margin-top: 22px;
	margin-left: 25px;
	width: 1105px;
}

#about-section3 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 23PX;
	margin-left: 25PX;
	margin-top: 25px;
}

#about-section3 input {
	margin-left: 25px;
	margin-top: 6px;
	margin-bottom: 35px;
	padding-left: 555px;
	padding-top: 10px;
}

#form input {
	font-size: 20px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: white;
	background-color: black;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	margin-left: 25px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

#logo2 {
	width: 250px;
	margin-right: 0px;
	margin-top: 20px;
	margin-left: 245px;
}

.color {
	background-color: #000000;
	padding: 15px 176%;
}

#footer-flex h3 {
	font-size: 42px;
	color: #AF0909;
	margin-left: -530px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer-flex h6 {
	font-size: 24px;
	margin-bottom: 22px;
	color: white;
	margin-left: -530px;
}

#footer-flex2 p {
	font-size: 24px;
	color: white;
	margin-top: 5px;
	margin-bottom: 14px;
	margin-left: -530px;
}

#footer-flex2 a {
	width: 30px;
	margin-left: 13px;
	margin-top: 2px;
}

#contact-container div {
	background-color: black;
	color: #fff;
	padding: 20px 176%;
	text-align: center;
}

#contact-container h3 {
	color: white;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	font-size: 32px;
	width: 1047px;
	text-align: center;
	margin-top: 200px;
	margin-bottom: 35px;
	margin-left: -525px;
	letter-spacing: 2px;
}

#container2 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 25px;
	margin-top: 45px;
	cursor: pointer;
}

#container3 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 497px;
	margin-top: 25px;
	margin-bottom: 50px;
	cursor: pointer;
}

#container4 p {
	color: black;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	font-size: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 40px;
	width: 1085px;
}

#contact-container h3 {
	color: white;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	font-size: 34px;
	text-align: center;
	margin-top: 170px;
	letter-spacing: 2px;
}

#contact-container p {
	color: white;
	font-size: 26px;
	font-family: 'bpg_nino_mtavruli_bold';
	text-align: center;
	margin-top: 20px;
	margin-left: -120px;
}

#contact p {
	font-size: 29px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	letter-spacing: 1px;
	line-height: 26px;
	margin-bottom: 	20px;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 40px;
	text-align: center;
	width: 1080px;
}

#contact h3 {
	font-size: 24px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	letter-spacing: 1px;
	line-height: 26px;
	margin-left: 30px;
	margin-top: 15px;
	width: 630px;
}

#text2 h3 {
	color: #AF0909;
	font-size: 40px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 70px;
	width: 272px;
	margin-left: 170px;
}

#text img {
	width: 200%;
	height: 56%;
	margin-right: -775px;
	margin-top: 35px;
}

#text p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-top: 142px;
	line-height: 24px;
}

#text3 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 35px;
	margin-left: 170px;
	margin-top: 60px;
	width: 500px;
}

#main P {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 112px;
}

#main img {
	width: 175%;
	height: 90%;
	margin-right: -775px;
	margin-top: 40px;
}

#text4 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 35px;
	margin-left: 170px;
	margin-top: 60px;
	width: 500px;
}

#main2 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 120px;
}

#main2 img {
	width: 135%;
	height: 70%;
	margin-right: -775px;
	margin-top: 50px;
}

#text5 h3 {
	font-size: 33px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	text-align: center;
	margin-top: 60px;
	width: 985px;
    margin-left: 76px;
}

#text5 h4 {
	font-size: 23px;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	text-align: center;
	margin-top: 20px;
	width: 1121px;
}

#text5 p {
	font-size: 24px;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	line-height: 23px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
	width: 1070px;
}

#title h2{
		font-size: 40px;
		font-weight: bold;
		color: #AF0909;
		margin-top: 30px;
		margin-left: 140px;
		width: 370px;
	}

	#title p {
		font-size: 42px;
		color: black;
		margin-left: 100px;
		margin-top: 60px;
		text-align: center;
		width: 900px;
	}

	#title h3 {
		font-size: 30px;
		font-weight: bold;
		color: #AF0909;
		margin-left: 350px;
		margin-top: 60px;
		margin-bottom: 30px;
		width: 475px;
	}

#form-color {
	background-color: gainsboro;
	width: 135%;
    margin-left: 300px;
}

#formtag {
	margin-left: 50px;
}

#formtag p {
	font-size: 25px;
	color: black;
	line-height: 1.3;
}

#text1 h2{
		font-size: 40px;
		font-weight: bold;
		color: #AF0909;
		margin-left: 425px;
		margin-bottom: 45px;
		margin-top: 70px;
		width: 360px;
}

#text1 p {
		font-size: 34px;
		color: black;
		margin-left: 200px;
		width: 250%;
}

#container5 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 970px;
	margin-top: 65px;
	margin-bottom: 50px;
	cursor: pointer;
}

#text-2 h2{
	font-size: 30px;
	font-weight: bold;
	color: #AF0909;
	margin-left: 540px;
	margin-bottom: 35px;
	margin-top: 60px;

}

#text-2 p {
	font-size: 20px;
	color: black;
	margin-left: 700px;
}

#title h4{
	font-size: 19px;
	color: black;
	font-weight: bold;
	margin-left: 510px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#title h5 {
	font-size: 18px;
    color: black;
    margin-left: 390px;
    width: 55%;
    line-height: 25px;
    margin-top: 45px;
    margin-bottom: 20px;
}

#about-section-2 {
	background-color: #AF0909;
	padding: 25px 176%;
}

#about-section-2 h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-left: -320px;
	margin-top: 10px;
	width: 710px;
}

#about-section-2 input {
	background-color: white;
	font-size: 20px;
	color: black;
	padding: 20px 30px;
	border: none;
	margin-left: -150px;
	margin-top: 40px;
	cursor: pointer;
	font-family: 'bpg_nino_mtavruli_bold' ;
}

#container-3{
	margin-left: 610px;
}

#container-3 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 220px;
	margin-top: 7px;
	margin-bottom: 17px;
	cursor: pointer;
}

#container-4 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 755px;
	margin-top: 7px;
	margin-bottom: 40px;
	cursor: pointer;
}

#title-1 h2{
	font-size: 45x;
	font-weight: bold;
	color: #AF0909;
	margin-top: 40px;
	margin-left: 120px;
	width: 377px;
}

#title-1 p {
	font-size: 30px;
	color: black;
	margin-left: 190px;
	margin-top: 67px;
	text-align: center;
	width: 725px;
}

#title-1 h4 {
	font-size: 23px;
	font-weight: bold;
	color: #AF0909;
	margin-top: 40px;
	text-align: center;
}

#title-1 h5 {
	font-size: 21px;
	color: black;
	margin-top: 25px;
	text-align: center;
}




@media only screen and (min-width: 1200px){

#logo{
	width: 14%;
	margin-left: 90px;
}

#flex li {
	font-size: 18px;
	color: white;
	margin-left: 50px;
	text-align: center;
	justify-content: space-between;
}

#header li:hover {
	color: black;
}

#header li.menu-active {
	color: black;
}

#flex {
	display: flex;
    flex-wrap: wrap;
    margin-left: 740px;
    margin-top: 55px;
}

#mainphoto {
	width: 1545px;
	height: 790px;
}

#container h3 {
	color: #AF0909;;
	font-size: 35px;
	font-family: 'bpg_nino_mtavruli_bold' ;
	margin-top: 70px;
	margin-left: 610px; 
	width: 355px;
}

hr {
	width: 100%;
}

#photo {
	width: 20%;
	margin-left: 300px;
	margin-top: 50px;
}

#flex3 h3 {
	color: #AF0909;
	font-size: 29px;
	font-style: italic;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 70px;
	margin-left: 15px;
}

#flex3 h4 {
	color: #AF0909;
	font-size: 29px;
	font-family: 'bpg_nino_mtavruli_bold';
	font-style: italic;
	margin-top: 70px;
	margin-left: 295px;
}

#flex4 p{
	color: black;
	font-size: 18px;
	line-height: 23px;
	font-family: 'bpg_nino_mtavruli_normal';
	margin-top: 50px;
	margin-left: 15px;
	width: 70%;
}

#about-section2 {
	background-color: white;
	padding: 49px 10%;
}

#about-section2 img {
	width: 45px;
	margin-left: 140px;
}

#about-section2 h3 {
	font-size: 27px;
	margin-left: -43px;
	width: 387px;
	color: black;
	margin-top: 30px;
	text-align: center;
	font-family:'bpg_nino_mtavruli_normal' ;
}

#about-section3 h3 {
	color: #AF0909;
	font-size: 35px;
	width: 1540px;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-top: 20px;
	text-align: center;
}

#about-section3 h4 {
	color: black;
	width: 1182px;
	font-family: 'bpg_nino_mtavruli_bold';
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
}

#about-section3 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 17PX;
	margin-left: 20PX;
	margin-top: 20px;
}

#about-section3 input {
	margin-left: 19px;
	margin-top: 7px;
	margin-bottom: 20px;
	padding-left: 600px;
	padding-top: 10px;
}

#about-section {
	background-color: black;
	padding: 25px 20%;
}

#about-section h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
	width: 586px;
	margin-left: 145px;
	margin-top: 0px;
}

#about-section input {
	background-color: white;
	font-size: 20px;
	color: black;
	padding: 20px 30px;
	border: none;
	margin-left: 279px;
	margin-top: 40px;
	cursor: pointer;
	font-family: 'bpg_nino_mtavruli_bold' ;
}

#form input {
	font-size: 15px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: white;
	background-color: black;
	cursor: pointer;
	padding: 10px 20px 10px 20px;
	margin-left: 20px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

.color {
	background-color: #000000;
	padding: 0px 20%;
}

#logo2 {
	width: 215px;
	margin-right: 0px;
	margin-top: 25px;
	margin-left: 910px;
}

#footer-flex h3 {
	font-size: 39px;
	color: #AF0909;
	margin-left: -279px;
	margin-top: 25px;
	margin-bottom: 20px;
	width: 367px;
}

#footer-flex h6 {
	font-size: 18px;
	margin-bottom: 22px;
	color: white;
	margin-left: -279px;
}

#footer-flex2 p {
	font-size: 18px;
	color: white;
	margin-top: 4px;
	margin-bottom: 14px;
	margin-left: -279px;
}

#footer-flex2 a {
	width: 20px;
	margin-left: 11px;
	margin-top: 4px;
}

#contact-container div {
	background-color: black;
	color: #fff;
	padding: 60px 12%;
	text-align: center;
}

#contact-container h3 {
	color: white;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	font-size: 30px;
	text-align: center;
	margin-top: 175px;
	letter-spacing: 2px;
	width: 981px;
	margin-bottom: -7px;
	margin-left: 145px;
}

#container2 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 100px;
	margin-top: 45px;
	cursor: pointer;
}

#container3 input{
	background-color: #AF0909;
	font-size: 17px;
	letter-spacing: 1px;
	color: white;
	padding: 7px 25px;
	border: none;
	margin-left: 775px;
	margin-top: 25px;
	margin-bottom: 50px;
	cursor: pointer;
}

#container4 p {
	color: black;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 40px;
	width: 1447px;
}

#contact-container h3 {
	color: white;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	font-size: 30px;
	text-align: center;
	margin-top: 150px;
	letter-spacing: 2px;
}

#contact-container p {
	color: white;
	font-size: 24px;
	font-family: 'bpg_nino_mtavruli_bold';
	text-align: center;
	margin-top: 20px;
	margin-left: -50px;
}

#contact p {
	font-size: 25px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	letter-spacing: 1px;
	line-height: 26px;
	margin-bottom: 	20px;
	margin-top: 50px;
	margin-left: 30px;
	margin-bottom: 40px;
	text-align: center;
	width: 1515px;
}

#contact h3 {
	font-size: 20px;
	font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	letter-spacing: 1px;
	line-height: 26px;
	margin-left: 30px;
	margin-top: 15px;
	width: 535px;
}

#text2 h3 {
	color: #AF0909;
	font-size: 35px;
	font-weight: bold;
	margin-left: 200px;
	margin-top: 70px;
	width: 272px;
	margin-left: 170px;
}

#text img {
	width: 55%;
	margin-right: 30px;
	margin-top: 35px;
}

#text p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-top: 170px;
	line-height: 23px;
}

#text3 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 35px;
	margin-left: 170px;
	margin-top: 60px;
	width: 500px;
}

#main P {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 150px;
}

#main img {
	width: 35%;
	margin-right: 30px;
	margin-top: 40px;
}

#text4 h3 {
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	font-size: 35px;
	margin-left: 170px;
	margin-top: 60px;
	width: 500px;
}

#main2 p {
	color: black;
	font-family: 'bpg_nino_mtavruli_normal';
	font-size: 21px;
	margin-left: 30px;
	margin-right: 7px;
	line-height: 23px;
	margin-top: 150px;
}

#main2 img {
	width: 35%;
	margin-right: 30px;
	margin-top: 50px;
}

#text5 h3 {
	font-size: 35px;
	font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	text-align: center;
	margin-top: 60px;
	width: 1045px;
	margin-left: 330px;
}

#text5 h4 {
	font-size: 23px;
	font-family: font-family: 'bpg_nino_mtavruli_normal';
	color: black;
	text-align: center;
	margin-top: 20px;
	margin-left: 285px;
}

#text5 p {
	font-size: 24px;
	font-family: font-family: 'bpg_nino_mtavruli_bold';
	color: #AF0909;
	line-height: 23px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 50px;
	margin-left: 300px;
}

#about-section-2 {
	background-color: #AF0909;
	padding: 25px 46%;
}

#about-section-2 h3 {
	font-size: 30px;
	color: white;
	text-align: center;
	font-family: 'bpg_nino_mtavruli_bold';
	margin-left: -320px;
	margin-top: 10px;
	width: 710px;
}

#title h2{
	font-size: 25px;
	font-weight: bold;
	color: #AF0909;
	margin-top: 25px;
	margin-left: 120px;
	width: auto;
}

#title p {
	font-size: 25px;
	color: black;
	margin-left: 300px;
	margin-top: 60px;
	
}

#title h3 {
	font-size: 25px;
	color: #AF0909;
	margin-left: 590px;
	margin-top: 30px;
	margin-bottom: 30px;
	width: auto;
}

#form-color {
	background-color: gainsboro;
	width: 45%;
    margin: auto;
}

#formtag {
	margin-left: 50px;
}

#formtag p {
	font-size: 19px;
	color: black;
	line-height: 1.3;
}

#text1 h2{
	font-size: 30px;
	font-weight: bold;
	color: #AF0909;
	margin-left: 670px;
	margin-bottom: 35px;
	margin-top: 60px;
}

#text1 p {
	font-size: 20px;
	color: black;
	margin-left: 565px;
}

#title-1 h2{
	font-size: 25px;
	font-weight: bold;
	color: #AF0909;
	margin-top: 40px;
	margin-left: 120px;
}

#title-1 p {
	font-size: 25px;
	color: black;
	margin-left: 190px;
	margin-top: 67px;
}



}





